body {
  background-image: url('C:\Users\Goose\Documents\GitHub\Gooseghflegh.github.io\assets\images\background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
